@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  border-radius: 12px;
  padding: 8px;
}

.react-calendar__tile--active,
.react-calendar__tile:hover {
  border-radius: 12px;
}

.react-calendar__tile {
  padding: 10px 5px !important;
}


.curve::after{
  content: "";
  position: absolute;
  top: -50px;
  left: 47px;
  /* background-color: blue; */
  height: 50px;
  width: 50px;
  border-radius: 30%;
  /* transform: rotate(48deg); */
  box-shadow: 10px 10px 0 0 #ddd;
}
